*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.student{
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
button{
    margin: 0px 20px;
    background-color: rgb(187, 153, 1);
    color: rgb(10, 9, 9);
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 1px 7px;
}
h2{
    display: flex;
    justify-content: center;
    margin: 0px 10px 10px;
    font-weight: bold;
    font-size: 1.6rem;
    color: rgb(43, 0, 255);
}