*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body,html{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

button{
  margin: 0px 10px 0px;
}
