*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
button{
  margin: 0px 10px;
  padding: 3px  10px;
  background-color: aqua;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}
body,html{
  display: flex;
  justify-content: center;
}
