body.light {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
  transition: 0.3s ease;
}

.container {
  text-align: center;
  padding-top: 100px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}